.chat-message{
    flex-grow: 1;
    padding: 10px;
    height: 50%;
    background-color: #aaa;
    overflow-y: auto;
    border-top: 2px solid red;
    background-color: #A89F9F;
}


.article-message{
    display: flex;
    position: relative;
    top: 5px;
    flex-direction: row;
}


.article-message p{
    position: relative;
    left: 5px;
    border: 1px solid black;
}

.customer-message{
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: nowrap;
    right: 22px;
}


.customer-message p{
    position: relative;
    left: 5px;
    border: 1px solid black;
}